.header {
  background-color: #282c34;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(17px);
  color: white;
}

.WineList {
  display: flex;
  align-items: center;
  justify-content: center;
}
