.header {
  background-color: #282c34;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(17px);
  color: white;
}

.WineList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wine-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  width: 200px; /* Defina uma largura fixa */
  height: 300px; /* Defina uma altura fixa */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*ajuda a distribuir o espaço */
}

.wine-card img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  max-height: 150px; /* Limita a altura da imagem */
  border-radius: 8px;
}

.wine-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Alinha os cards uniformemente */
}

.search-input {
  font-size: 12px;
  padding: 5px;
  width: 150px;
  scale: 90%;
}