.header {
  background-color: #f1eded;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(17px);
  color: darkgoldenrod;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.WineList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wine-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  width: 200px; /* Defina uma largura fixa */
  height: auto; /* Defina uma altura fixa */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*ajuda a distribuir o espaço */
  transition: 200ms;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.wine-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.wine-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Alinha os cards uniformemente */
}

.search-input {
  font-size: 12px;
  padding: 5px;
  width: 150px;
  scale: 90%;
  margin-right: 20px;
}
